<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<img src="http://localhost:8080/attach/open/zari.jpg"></img>-->
<img src="http://localhost:8084/attach/open?fileId=ff80808181f7695b0181f76a2c270000"></imd>
<br>
<br>

</body>
</html>
<!--<video width="320" height="240" controls>-->
<!--    <source src="http://localhost:8080/attach/open_general/videoplayback.mp4" type="video/mp4">-->
<!--    Your browser does not support the video tag.-->
<!--</video>-->